<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>接口测试</title>
    <link rel="stylesheet" href="{% static '/css/layui.css' %}">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">Sugelan</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">其实</a></li>
            <li class="layui-nav-item"><a href="">刚刚好</a></li>
            <li class="layui-nav-item"><a href="">意外</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://qnc-lemon.chumanapp.com/user/1010/avatar/1592204335981.jpg" class="layui-nav-img">
                    格兰
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退下</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item "><a href="{% url 'index' %}">主页</a></li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;">小工具</a>
                    <dl class="layui-nav-child">
                        <dd class="layui-this"><a href="{% url 'api_test' %}">接口测试</a></dd>
                        <dd><a href="{% url 'testcase_report' %}">接口测试报告</a></dd>
                        <dd><a href="{% url 'testcase' %}">接口调试</a></dd>
                        <dd><a href="{% url 'excel' %}">excel处理</a></dd>
                        <dd><a href="{% url 'csv' %}">csv处理</a></dd>
                        <dd><a href="{% url 'lemon' %}">柠檬精小脚本</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="{% url 'lemon' %}">test</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top:20px;">
            <legend>接口测试</legend>
        </fieldset>

        <table class="layui-hide" id="test" lay-filter="test"></table>

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm" lay-event="isSome">批量执行</button>
                <button class="layui-btn layui-btn-sm" lay-event="isAll">一键执行</button>
            </div>
        </script>

        <script type="text/html" id="barDemo">
            <a class="layui-btn layui-btn-sm" lay-event="run">运行</a>
        </script>


        <script src="//res.layui.com/layui/dist/layui.js" charset="utf-8"></script>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © 这么久没见
    </div>
</div>
<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
<script src='{% static "layui.all.js" %}' charset="utf-8"></script>

<script>
layui.use('table', function(){
  var table = layui.table;

  table.render({
    elem: '#test'
    ,url:'/case_module/'
    ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
    ,defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
      title: '提示'
      ,layEvent: 'LAYTABLE_TIPS'
      ,icon: 'layui-icon-tips'
    }]
    ,title: '用户数据表'
    ,cols: [[
      {type: 'checkbox', fixed: 'left'}
      ,{field:'id', title:'ID', width:'20%', fixed: 'left', unresize: true, sort: true}
      ,{field:'name', title:'模块', width:'40%', edit: 'text'}
      ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:'30%'}
    ]]
    ,page: false
  });

  //头工具栏事件
  table.on('toolbar(test)', function(obj){
    var checkStatus = table.checkStatus(obj.config.id);
    switch(obj.event){
      case 'isSome':
        var data = checkStatus.data;
        layer.alert(JSON.stringify(data));
      break;
      case 'isAll':
        $.ajax({
                url: "/run_all/",
                type: 'POST',     // 请求类型，常用的有 GET 和 POST
                data: {"param":"e"},
                dataType: "json",
                complete: function () {
                    layer.msg('执行成功，测试结果请查看邮件');
                 }
               });
      break;
      //自定义头工具栏右侧图标 - 提示
      case 'LAYTABLE_TIPS':
        layer.alert('这是工具栏右侧自定义的一个图标按钮');
      break;
    };
  });

  //监听行工具事件
  table.on('tool(test)', function(obj){
    var data = obj.data;
    //console.log(obj)
    if(obj.event === 'run'){
    $.ajax({
                url: "/local_file/",
                type: 'POST',     // 请求类型，常用的有 GET 和 POST
                data: {"file":data.file,"param":"e"},
                dataType: "json",
                complete: function () {
                    layer.alert('success');
                 }
        });
    }
    });
});

</script>
</body>
</html>