<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>lemon</title>
    <link rel="stylesheet" href="{% static '/css/layui.css' %}">
    <!--<link rel="stylesheet" href="https://heerey525.github.io/layui-v2.4.3/layui-v2.4.5/css/layui.css">-->

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">Sugelan</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">其实</a></li>
            <li class="layui-nav-item"><a href="">刚刚好</a></li>
            <li class="layui-nav-item"><a href="">意外</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://qnc-lemon.chumanapp.com/user/1010/avatar/1592204335981.jpg" class="layui-nav-img">
                    格兰
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退下</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item "><a href="{% url 'index' %}">主页</a></li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;">小工具</a>
                    <dl class="layui-nav-child">
                        <dd ><a href="{% url 'testcase' %}">接口调试</a></dd>
                        <dd ><a href="{% url 'excel' %}">excel处理</a></dd>
                        <dd class="layui-this"><a href="{% url 'csv' %}">csv处理</a></dd>
                        <dd ><a href="{% url 'lemon' %}">柠檬精小脚本</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="{% url 'lemon' %}">test</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top:20px;">
            <legend>csv小工具</legend>
        </fieldset>
        <form class="layui-form" action="" lay-filter="example">
            <div class="layui-form-item">
                <label class="layui-form-label">文件路径:</label>
                <div class="layui-input-block">
                    <input type="text" name="file" id="file"  placeholder="请输入文件路径，要求csv后缀"
                           class="layui-input" style="width: 80%">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="button" class="layui-btn" id="test">删除全部</button>
                    <button type="button" class="layui-btn" id="del_some_row">删除前N行</button>
                    <button type="button" class="layui-btn" id="del_some_col">删除某列</button>
                    <button type="button" class="layui-btn" id="del_all_col">删除全部列</button>
                    <button type="submit" class="layui-btn" lay-submit="demo2" lay-filter="test">test</button>
                </div>

            </div>
        </form>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © 这么久没见
    </div>
</div>
<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
<script src='{% static "layui.all.js" %}' charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use(['form', 'layedit', 'laydate'], function (data) {

        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;

        //获取form的值
        form.on('submit(test)', function (data) {
            var file = $('#file').val();
            layer.alert(file)
            $.ajax({
                url: "/handel_excel/",
                type: 'POST',
                data: { parma: "format_excel",file:file},
                dataType: "json",
                success: function () {
                    form.val('example', {
                        "file": 'done' // "name": "value"
                    });
                    layer.msg('处理成功')
                }
            });
            return false;
        });

        //处理excel格式-接口用例
        layui.$('#test').on('click', function (data) {
            var file = $('#file').val();

            $.ajax({
                url: "/handel_excel/",
                type: 'POST',
                data: { parma: "format_excel"},
                dataType: "json",
                success: function () {
                    form.val('example', {
                        "file": 'done' // "name": "value"
                    });
                    layer.msg('处理成功')
                }
            });
        });

        //处理excel格式-普通
        layui.$('#format_normal_excel').on('click', function (data) {
            var file = $('#file').val();
            $.ajax({
                url: "/handel_excel/",
                type: 'POST',
                data: { parma: "format_normal_excel",file:file},
                dataType: "json",
                success: function () {
                    form.val('example', {
                        "file": 'done' // "name": "value"
                    });
                    layer.msg('处理成功')
                }
            });
        });



        //删除所有行
        layui.$('#del_all_excel').on('click', function (data) {
            var file = $('#file').val();
            $.ajax({
                url: "/handel_excel/",
                type: 'POST',
                data: { parma: "del_all_excel",file:file},
                dataType: "json",
                success: function () {
                    form.val('example', {
                        "file": 'done' // "name": "value"
                    });
                    layer.msg('处理成功')
                }
            });
        });

        //删除非第一行
        layui.$('#del_excel').on('click', function (data) {
            var file = $('#file').val();
            $.ajax({
                url: "/handel_excel/",
                type: 'POST',
                data: { parma: "del_excel",file:file},
                dataType: "json",
                success: function () {
                    form.val('example', {
                        "file": 'done' // "name": "value"
                    });
                    layer.msg('处理成功')
                }
            });
        });

        //删除null和空行
        layui.$('#del_null_row').on('click', function (data) {
            var file = $('#file').val();
            $.ajax({
                url: "/handel_excel/",
                type: 'POST',
                data: { parma: "del_null_row",file:file},
                dataType: "json",
                success: function () {
                    form.val('example', {
                        "file": 'done' // "name": "value"
                    });
                    layer.msg('处理成功')
                }
            });
        });
    });


</script>
</body>
</html>