<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>小工具</title>
    <link rel="stylesheet" href="{% static '/css/layui.css' %}">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">Sugelan</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">其实</a></li>
            <li class="layui-nav-item"><a href="">刚刚好</a></li>
            <li class="layui-nav-item"><a href="">意外</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://qnc-lemon.chumanapp.com/user/1010/avatar/1592204335981.jpg" class="layui-nav-img">
                    格兰
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退下</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item"><a href="{% url 'index' %}">主页</a></li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;">小工具</a>
                    <dl class="layui-nav-child">
                        <dd><a href="{% url 'tools' %}">方便测试</a></dd>
                        <dd class="layui-this"><a href="{% url 'follow' %}">关注/表态</a></dd>
                        <dd><a href="{% url 'lemon' %}">上下/左右滑</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">接口</a>
                    <dl class="layui-nav-child">
                        <dd><a href="{% url 'testcase' %}">接口调试</a></dd>
                        <dd><a href="{% url 'api_test' %}">接口测试</a></dd>
                        <dd><a href="{% url 'testcase_report' %}">接口测试报告</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">格式处理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="{% url 'excel' %}">excel处理</a></dd>
                        <dd><a href="{% url 'csv' %}">csv处理</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top:20px;">
            <legend>关注/表态</legend>
        </fieldset>

        <form class="layui-form" action="" lay-filter="example" style="width:70%">
            <div class="layui-form-item">
                <label class="layui-form-label">环境</label>
                <div class="layui-input-block">
                    <input type="radio" name="env" value="demo" title="demo" checked="">
                    <input type="radio" name="env" value="api2" title="api2">
                    <input type="radio" name="env" value="api" title="api">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label" style="width:130px">输入uid获取token:</label>
                    <div class="layui-input-inline">
                        <input name="uid" id="uid" class="layui-input" placeholder="输入uid">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" id="u_token" style="display:none"></label>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label" style="width:130px">当前用户token:</label>
                    <div class="layui-input-inline">
                        <input name="token" id="token" class="layui-input" placeholder="当前用户token" style="width:220px">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">被关注者id:</label>
                    <div class="layui-input-inline">
                        <input name="f_uid" id="f_uid" class="layui-input" placeholder="被关注者的id">
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label" style="width:130px">作品表态:</label>
                    <div class="layui-input-inline">
                        <input name="obj_id" id="obj_id" class="layui-input" placeholder="输入作品id" >
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input type="radio" name="judge" value="1" title="喜欢" checked="">
                        <input type="radio" name="judge" value="0" title="不喜欢">
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input type="radio" name="obj_type" value="9" title="图片" checked="">
                        <input type="radio" name="obj_type" value="10" title="视频">
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label"></label>
                    <button type="button" class="layui-btn" id="get_token">获取token
                    </button>
                </div>
                <div class="layui-inline">
                    <button type="button" class="layui-btn" id="follow">关注
                    </button>
                </div>
                <div class="layui-inline">
                    <button type="button" class="layui-btn" id="unfollow">取消关注
                    </button>
                </div>
                <div class="layui-inline">
                    <button type="button" class="layui-btn" id="judge">作品表态
                    </button>
                </div>
            </div>


        </form>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © 这么久没见
    </div>
</div>
<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
<script src='{% static "layui.all.js" %}' charset="utf-8"></script>

<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;


        //获取token
        layui.$('#get_token').on('click', function () {
            var uid = $('#uid').val();
            var env = $('input[name="env"]:checked ').val();
            var path = "/api/sample/token"
            var body ={"uid":uid}
            var header ='{"versionCode":"android_2.3.0","Content-Type":"application/json","X-Token":"4b5d4b5e0044","Authorization":":82ec573c9e35dghh39e46075hd113j3h"}'

            $.ajax({
                url: "/testp/",
                type: 'POST',     // 请求类型，常用的有 GET 和 POST
                data: { "env":env,"path":path, "body":JSON.stringify(body), "header":header},
                dataType: "json",
                success: function (data) { // 接口调用成功回调函数
                    layer.msg(JSON.stringify(data.msg))
                    $("#u_token").html("token:"+JSON.stringify(data.data.access_token))
                    document.getElementById('u_token').style.display = 'inline'
                    form.val('example', {
                    "token": data.data.access_token
                 });
                }
            });
        });

        //关注
        layui.$('#follow').on('click', function () {
            var token = $('#token').val();
            var f_uid = $('#f_uid').val();
            var env = $('input[name="env"]:checked ').val();
            var path = "/api/user/follow"
            var body ={"user_id":f_uid,"access_token":token}
            var header ='{"versionCode":"android_2.3.0","Content-Type":"application/json","X-Token":"4b5d4b5e0044","Authorization":":82ec573c9e35dghh39e46075hd113j3h"}'

            $.ajax({
                url: "/testp/",
                type: 'POST',     // 请求类型，常用的有 GET 和 POST
                data: { "env":env,"path":path, "body":JSON.stringify(body), "header":header},
                dataType: "json",
                success: function (data) { // 接口调用成功回调函数
                    layer.msg(JSON.stringify(data.msg))
                }
            });
        });

        //取消关注
        layui.$('#unfollow').on('click', function () {
            var token = $('#token').val();
            var f_uid = $('#f_uid').val();
            var env = $('input[name="env"]:checked ').val();
            var path = "/api/user/follow_remove"
            var body ={"user_id":f_uid,"access_token":token}
            var header ='{"versionCode":"android_2.3.0","Content-Type":"application/json","X-Token":"4b5d4b5e0044","Authorization":":82ec573c9e35dghh39e46075hd113j3h"}'

            $.ajax({
                url: "/testp/",
                type: 'POST',     // 请求类型，常用的有 GET 和 POST
                data: { "env":env,"path":path, "body":JSON.stringify(body), "header":header},
                dataType: "json",
                success: function (data) { // 接口调用成功回调函数
                    layer.msg(JSON.stringify(data.msg))
                }
            });
        });

        //作品表态
        layui.$('#judge').on('click', function () {
            var token = $('#token').val();
            var obj_id = $('#obj_id').val();
            var env = $('input[name="env"]:checked ').val();
            var obj_type = $('input[name="obj_type"]:checked ').val();
            var judge = $('input[name="judge"]:checked ').val();
            var path = "/api/user_lemon/judge_content"
            var body ={"obj_id":obj_id,"read_progress":"100","obj_type":obj_type,"like":judge,"access_token":token}
            var header ='{"versionCode":"android_2.3.0","Content-Type":"application/json","X-Token":"4b5d4b5e0044","Authorization":":82ec573c9e35dghh39e46075hd113j3h"}'

            $.ajax({
                url: "/testp/",
                type: 'POST',     // 请求类型，常用的有 GET 和 POST
                data: { "env":env,"path":path, "body":JSON.stringify(body), "header":header},
                dataType: "json",
                success: function (data) { // 接口调用成功回调函数
                    layer.msg(JSON.stringify(data.msg))
                }
            });
        });
    });




</script>
</body>
</html>