<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>后台-layui</title>
    <link rel="stylesheet" href="{% static '/css/layui.css' %}">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">Sugelan</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">其实</a></li>
            <li class="layui-nav-item"><a href="">刚刚好</a></li>
            <li class="layui-nav-item"><a href="">意外</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://qnc-lemon.chumanapp.com/user/1010/avatar/1592204335981.jpg" class="layui-nav-img">
                    格兰
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退下</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-this"><a href="{% url 'index' %}">主页</a></li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;">小工具</a>
                    <dl class="layui-nav-child">
                        <dd ><a href="{% url 'tools' %}">方便测试</a></dd>
                        <dd><a href="{% url 'follow' %}">关注/表态</a></dd>
                        <dd><a href="{% url 'lemon' %}">上下/左右滑</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">接口</a>
                    <dl class="layui-nav-child">
                        <dd><a href="{% url 'testcase' %}">接口调试</a></dd>
                        <dd><a href="{% url 'api_test' %}">接口测试</a></dd>
                        <dd><a href="{% url 'testcase_report' %}">接口测试报告</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">格式处理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="{% url 'excel' %}">excel处理</a></dd>
                        <dd><a href="{% url 'csv' %}">csv处理</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <div class="layui-body" id="LAY_app_body">
            <div class="layadmin-tabsbody-item layui-show">
                <div class="layui-fluid">
                    <div class="layui-row layui-col-space15">
                        <div class="layui-col-md8">
                            <div class="layui-row layui-col-space15">
                                <div class="layui-col-md6">
                                    <div class="layui-card">
                                        <div class="layui-card-header">小工具</div>
                                        <div class="layui-card-body">
                                            <div class="layui-carousel layadmin-carousel layadmin-shortcut" lay-anim=""
                                                 lay-indicator="inside" lay-arrow="none"
                                                 style="ewidth: 100%; height: 280px;">
                                                <div carousel-item="">
                                                    <ul class="layui-row layui-col-space10 layui-this">
                                                        <li class="layui-col-xs3">
                                                            <a lay-href="home/homepage1">
                                                                <i class="layui-icon layui-icon-console"></i>
                                                                <cite>主页一</cite>
                                                            </a>
                                                        </li>
                                                        <li class="layui-col-xs3">
                                                            <a lay-href="home/homepage2">
                                                                <i class="layui-icon layui-icon-chart"></i>
                                                                <cite>主页二</cite>
                                                            </a>
                                                        </li>
                                                        <li class="layui-col-xs3">
                                                            <a lay-href="component/layer/list">
                                                                <i class="layui-icon layui-icon-template-1"></i>
                                                                <cite>弹层</cite>
                                                            </a>
                                                        </li>
                                                        <li class="layui-col-xs3">
                                                            <a lay-href="/senior/im/">
                                                                <i class="layui-icon layui-icon-chat"></i>
                                                                <cite>聊天</cite>
                                                            </a>
                                                        </li>
                                                        <li class="layui-col-xs3">
                                                            <a lay-href="component/progress/index">
                                                                <i class="layui-icon layui-icon-find-fill"></i>
                                                                <cite>进度条</cite>
                                                            </a>
                                                        </li>
                                                        <li class="layui-col-xs3">
                                                            <a lay-href="app/workorder/list">
                                                                <i class="layui-icon layui-icon-survey"></i>
                                                                <cite>工单</cite>
                                                            </a>
                                                        </li>
                                                        <li class="layui-col-xs3">
                                                            <a lay-href="user/user/list">
                                                                <i class="layui-icon layui-icon-user"></i>
                                                                <cite>用户</cite>
                                                            </a>
                                                        </li>
                                                        <li class="layui-col-xs3">
                                                            <a lay-href="set/system/website">
                                                                <i class="layui-icon layui-icon-set"></i>
                                                                <cite>设置</cite>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>

                                                <button class="layui-icon layui-carousel-arrow" lay-type="sub">
                                                </button>
                                                <button class="layui-icon layui-carousel-arrow" lay-type="add">
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="layui-col-md6">
                                    <div class="layui-card">
                                        <div class="layui-card-header">待办事项</div>
                                        <div class="layui-card-body">

                                            <div class="layui-carousel layadmin-carousel layadmin-backlog" lay-anim=""
                                                 lay-indicator="inside" lay-arrow="none"
                                                 style="width: 100%; height: 280px;">
                                                <div carousel-item="">
                                                    <ul class="layui-row layui-col-space10 layui-this">
                                                        <li class="layui-col-xs6">
                                                            <a lay-href="app/content/comment"
                                                               class="layadmin-backlog-body">
                                                                <h3>待审评论</h3>
                                                                <p><cite>66</cite></p>
                                                            </a>
                                                        </li>
                                                        <li class="layui-col-xs6">
                                                            <a lay-href="app/forum/list" class="layadmin-backlog-body">
                                                                <h3>待审帖子</h3>
                                                                <p><cite>12</cite></p>
                                                            </a>
                                                        </li>
                                                        <li class="layui-col-xs6">
                                                            <a lay-href="template/goodslist"
                                                               class="layadmin-backlog-body">
                                                                <h3>待审商品</h3>
                                                                <p><cite>99</cite></p>
                                                            </a>
                                                        </li>
                                                        <li class="layui-col-xs6">
                                                            <a href="javascript:;"
                                                               onclick="layer.tips('不跳转', this, {tips: 3});"
                                                               class="layadmin-backlog-body">
                                                                <h3>待发货</h3>
                                                                <p><cite>20</cite></p>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <ul class="layui-row layui-col-space10">
                                                        <li class="layui-col-xs6">
                                                            <a href="javascript:;" class="layadmin-backlog-body">
                                                                <h3>待审友情链接</h3>
                                                                <p><cite style="color: #FF5722;">5</cite></p>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="layui-carousel-ind">
                                                    <ul>
                                                        <li class="layui-this"></li>
                                                        <li></li>
                                                    </ul>
                                                </div>
                                                <button class="layui-icon layui-carousel-arrow" lay-type="sub">
                                                </button>
                                                <button class="layui-icon layui-carousel-arrow" lay-type="add">
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-col-md12">
                                    <div class="layui-card">
                                        <div class="layui-card-header">数据概览</div>
                                        <div class="layui-card-body">

                                            <div class="layui-carousel layadmin-carousel layadmin-dataview"
                                                 data-anim="fade" lay-filter="LAY-index-dataview" lay-anim="fade"
                                                 lay-indicator="inside" lay-arrow="none"
                                                 style="width: 100%; height: 280px;">
                                                <div carousel-item="" id="LAY-index-dataview">
                                                    <div class="layui-this" _echarts_instance_="1592806798790"
                                                         style="-webkit-tap-highlight-color: transparent; user-select: none; cursor: default; background-color: rgba(0, 0, 0, 0);">
                                                        <div style="position: relative; overflow: hidden; width: 518px; height: 332px;">
                                                            <div data-zr-dom-id="bg" class="zr-element"
                                                                 style="position: absolute; left: 0px; top: 0px; width: 518px; height: 332px; user-select: none;"></div>
                                                            <canvas width="518" height="332" data-zr-dom-id="0"
                                                                    class="zr-element"
                                                                    style="position: absolute; left: 0px; top: 0px; width: 518px; height: 332px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></canvas>
                                                            <canvas width="518" height="332" data-zr-dom-id="1"
                                                                    class="zr-element"
                                                                    style="position: absolute; left: 0px; top: 0px; width: 518px; height: 332px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></canvas>
                                                            <canvas width="518" height="332"
                                                                    data-zr-dom-id="_zrender_hover_" class="zr-element"
                                                                    style="position: absolute; left: 0px; top: 0px; width: 518px; height: 332px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></canvas>
                                                        </div>
                                                    </div>
                                                    <div></div>
                                                    <div></div>
                                                </div>
                                                <div class="layui-carousel-ind">
                                                    <ul>
                                                        <li class="layui-this"></li>
                                                        <li></li>
                                                        <li></li>
                                                    </ul>
                                                </div>
                                                <button class="layui-icon layui-carousel-arrow" lay-type="sub">
                                                </button>
                                                <button class="layui-icon layui-carousel-arrow" lay-type="add">
                                                </button>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © 这么久没见
    </div>
</div>
<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
<script src='{% static "layui.all.js" %}' charset="utf-8"></script>

<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;


        //自定义验证规则
        form.verify({
            title: function (value) {
                if (value.length < 5) {
                    return '标题至少得5个字符啊';
                }
            }
            , pass: [
                /^[\S]{6,12}$/
                , '密码必须6到12位，且不能出现空格'
            ]
            , content: function (value) {
                layedit.sync(editIndex);
            }
        });

        //监听提交
        form.on('submit(demo1)', function (data) {
            {#datas = JSON.stringify(data.field)#}
            {#layer.alert(JSON.stringify(data.field.header))#}
            var expect_result = $('#expect_result').val();
            $.ajax({
                url: "/testp/",
                type: 'POST',     // 请求类型，常用的有 GET 和 POST
                data: data.field,
                dataType: "json",
                success: function (data) { // 接口调用成功回调函数
                    console.log("expect_reusult:", expect_result);
                    console.log("result:", (JSON.stringify(data.data).search(expect_result)));
                    $("#actual_result").html(JSON.stringify(data))
                    if ((JSON.stringify(data).search(expect_result)) != -1) {
                        if (data.msg == '请求成功') {
                            $("#test_result").html('pass')
                            document.getElementById('test_result').style.color = 'green'
                        }
                        else {
                            $("#test_result").html('fail')
                        }
                    }
                    else {
                        $("#test_result").html('fail')
                    }


                }
            });
            return false;
        });

        //表单赋值
        layui.$('#LAY-component-form-setval').on('click', function () {
            form.val('example', {
                "path": "/api/banner/get_banner_list" // "name": "value"
                ,"expect_result":"请求成功"
                ,"body":'{"type":"4"}'
                ,"header": "{'versionCode': 'android_1.9.3', 'Content-Type': 'application/json', 'X-Token': '4b5d4b5e0044','Authorization':':82ec573c9e35dghh39e46075hd113j3h'}"
            });
        });

        {#form.val('example', {#}
        {#    "header": "{'versionCode': 'android_1.9.3', 'Content-Type': 'application/json', 'X-Token': '4b5d4b5e0044','Authorization':':82ec573c9e35dghh39e46075hd113j3h'}"});#}

        //表单取值
        layui.$('#LAY-component-form-getval').on('click', function () {
            var data = form.val('example');
            layer.alert(JSON.stringify(data));
        });

    });





</script>
</body>
</html>