<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>lemon</title>
    <link rel="stylesheet" href="{% static '/css/layui.css' %}">
    <!--<link rel="stylesheet" href="https://heerey525.github.io/layui-v2.4.3/layui-v2.4.5/css/layui.css">-->

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">Sugelan</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">其实</a></li>
            <li class="layui-nav-item"><a href="">刚刚好</a></li>
            <li class="layui-nav-item"><a href="">意外</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://qnc-lemon.chumanapp.com/user/1010/avatar/1592204335981.jpg" class="layui-nav-img">
                    格兰
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退下</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item "><a href="{% url 'index' %}">主页</a></li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;">小工具</a>
                    <dl class="layui-nav-child">
                        <dd ><a href="{% url 'testcase' %}">接口调试</a></dd>
                        <dd><a href="{% url 'excel' %}">excel处理</a></dd>
                        <dd ><a href="{% url 'csv' %}">csv处理</a></dd>
                        <dd class="layui-this"><a href="{% url 'lemon' %}">柠檬精小脚本</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="{% url 'lemon' %}">test</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top:20px;">
            <legend>柠檬精小脚本</legend>
        </fieldset>
        <form class="layui-form" action="" lay-filter="example">
            <div class="layui-form-item">
                <label class="layui-form-label">设备信息</label>
                <div class="layui-input-block">
                    <input type="text" name="device" id="device" lay-verify="title" placeholder="设备信息"
                           class="layui-input" style="width: 80%">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">浏览内容</label>
                <div class="layui-input-inline">
                    <select name="way">
                        <option value="">请选择浏览方式</option>
                        <option value="上滑" selected="">上滑</option>
                        <option value="左滑喜欢">左滑喜欢</option>
                        <option value="右滑不喜欢">右滑不喜欢</option>
                    </select>
                </div>
                <div class="layui-input-inline">
                    <select name="nums">
                        <option value="">请选择次数</option>
                        <option value="1">1</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="50">50</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="button" class="layui-btn layui-btn-normal" id="LAY-component-form-setval">连接设备
                    </button>
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo2">确定</button>
                </div>
            </div>
        </form>

    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © 这么久没见
    </div>
</div>
<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
<script src='{% static "layui.all.js" %}' charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;

        //监听提交
        form.on('submit(demo2)', function (data) {
            layer.alert(JSON.stringify(data.field));
            return false;
        });

        //表单赋值
        layui.$('#LAY-component-form-setval').on('click', function () {
            $.ajax({
                url: "/connect_adb/",

                success: function (data) {
                    form.val('example', {
                        "device": data // "name": "value"
                    });
                }
            });

        });
    });




</script>
</body>
</html>