{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="layui-body">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top:20px;">
        <legend>接口测试报告</legend>
    </fieldset>
    <table class="layui-hide" id="demo" lay-filter="test"></table>

    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-sm" lay-event="detail">查看测试报告</a>
        <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del">删除</a>
    </script>
</div>
{% endblock %}

{% block script %}
<script>
    layui.use(['form', 'table', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , table = layui.table
            , laydate = layui.laydate;

        table.render({
            elem: '#demo'
            , url: '/report/'
            , method: 'POST'
            , response: {dataName: 'data'}
            ,toolbar: '#toolbarDemo'
            , cols: [[
                {type: 'checkbox'}
                , {field: 'id', width: '20%', title: 'ID', sort: true}
                , {field: 'file', width: '40%', title: '测试报告'}
                ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:'30%'}

            ]]
            , page: true
        });

        //监听行工具事件
        table.on('tool(test)', function(obj){
            var data = obj.data;
            var title="新标签";
            //console.log(obj)
            if(obj.event === 'del'){
              $.ajax({
                url: "/local_file/",
                type: 'POST',     // 请求类型，常用的有 GET 和 POST
                data: {file:data.file,"param":"del"},
                dataType: "json"
                });
                obj.del();
                layer.close(index);
            } else if(obj.event === 'detail'){
                $.ajax({
                url: "/local_file/",
                type: 'POST',     // 请求类型，常用的有 GET 和 POST
                data: {file:data.file,"param":"open"},
                dataType: "json",
                complete: function (data) {
                    layer.msg('success');
                 }
                });
            }
        });
    });
</script>
{% endblock %}