<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test1</title>
</head>
<body>
<form action="/testp/" method="post">

    <h3>test</h3>
    地址:<input type="text" name="url" id="url" style="width:600px"><br>
    参数:<input type="text" name="body" id="body"><br>
    预期结果:<input type="text" name="expect_reusult" id="expect_reusult"><br>
    <p>实际结果:<span id="actual_result"></span></p>
    <p>测试结果:<span id="test_result"></span></p>
    <button type="button" id="sum">执行测试</button>
</form>

<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#sum").click(function () {
            var body = $('#body').val();
            var url = $('#url').val();
            var expect_reusult = $('#expect_reusult').val();

            $.ajax({
                url: "/testp/",
                type: 'POST',     // 请求类型，常用的有 GET 和 POST
                data: {'url':url,'body': body},
                dataType:"json",
                success: function(data) { // 接口调用成功回调函数
                    jd = JSON.stringify(data)
                    console.log("测试:",jd);
                    console.log("data:",data);
                    console.log("code:",data.data);

                    $("#actual_result").html(JSON.stringify(data.data))

                    if (data){
                        $("#test_result").html('pass')

                    }
                    else {
                        $("#test_result").html('fail')
                     }
                }
            });
        });
    });

</script>
</body>
</html>