{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="layui-body">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top:20px;">
        <legend>方便测试的接口</legend>
    </fieldset>

    <form class="layui-form" action="" lay-filter="example" style="width:70%">
        <div class="layui-form-item">
            <label class="layui-form-label">环境</label>
            <div class="layui-input-block">
                <input type="radio" name="env" value="demo" title="demo" checked="">
                <input type="radio" name="env" value="api2" title="api2">
                <input type="radio" name="env" value="api" title="api">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" style="width:190px">通过id查看注册手机号:</label>
                <div class="layui-input-inline">
                    <input name="uid" id="uid" autocomplete="off" class="layui-input" placeholder="请输入uid">
                </div>
            </div>
            <div class="layui-inline">
                <button type="button" class="layui-btn" id="uid_phone">查看
                </button>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" id="phone" style="display:none;width:200px"></label>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" style="width:190px">清除设备短信上限:</label>
                <div class="layui-input-inline">
                    <input name="device" id="device" autocomplete="off" class="layui-input" placeholder="请输入设备号">
                </div>
            </div>
            <div class="layui-inline">
                <button type="button" class="layui-btn" id="clear">清除
                </button>
            </div>
        </div>


    </form>
</div>
{% endblock %}

{% block script %}
<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;


        //获取token
        layui.$('#uid_phone').on('click', function () {
            var myDate = new Date();
            date = myDate.getDate();
            var uid = $('#uid').val();
            var env = $('input[name="env"]:checked ').val();
            var path = "/admin/user/get_user_info"
            token = "fhfdsfgsetwet"+date
            var body ={"uid":uid,"token":token}
            var header ='{"MAuthorization":"1hq78fq3m5cb2k9s1br3qpxd"}'

            $.ajax({
                url: "/testp/",
                type: 'POST',     // 请求类型，常用的有 GET 和 POST
                data: { "env":env,"path":path, "body":JSON.stringify(body), "header":header},
                dataType: "json",
                complete: function (data) { // 接口调用后回调函数
                    var regx = /\[mobile\]\s*=>\s*([0-9]{11})/ig;
                    JSON.stringify(data).replace(regx, function(s, value){
                        console.log(value);
                        <!--layer.alert("手机号:"+value);-->
                        $("#phone").html("手机号:"+value)
                        document.getElementById('phone').style.display = 'inline';
                    });
                }
            });
        });

        //清除设备
        layui.$('#clear').on('click', function () {
            var device = $('#device').val();
            var env = $('input[name="env"]:checked ').val();
            var path = "/api/test/testClearMobileCache"
            var body ={"device":device}
            var header ='{"MAuthorization":"1hq78fq3m5cb2k9s1br3qpxd"}'
            $.ajax({
                url: "/testp/",
                type: 'POST',     // 请求类型，常用的有 GET 和 POST
                data: { "env":env,"path":path, "body":JSON.stringify(body), "header":header},
                dataType: "json",
                complete: function (data) { // 接口调用后回调函数
                    layer.msg("清除成功");
                }
            });
        });
    });


</script>
{% endblock %}